footer {
  max-width: 800rem;
  width: 100%;  
  padding: 4rem 2rem 2rem;
  margin-inline: auto;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

nav {
  display: flex;
  gap: 2rem;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .75rem;
  font: 700 1.25rem/1.3 "Syne", sans-serif;
}
}